/*

@author rothrob
@desc Styles for the calculate sidebar

*/
.calculate-trigger {
  margin-bottom: 20px !important;
}
.calculate-container {
  position: fixed;
  background: #ffffff;
  width: auto;
  min-width: 50%;
  max-width: 90%;
  height: 100%;
  top: 0;
  right: 0;
  transition: .5s;
  z-index: 1080;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  padding: 0 20px;
  overflow: auto;
}
.calculate-container.shut {
  width: 0;
  min-width: 0;
  padding: 0;
  transition: .5s;
}
.calculate-container.shut * {
  width: 0 !important;
}
.calculate-container .calculate-closer {
  position: fixed;
  right: 0;
  margin: 15px;
  margin-top: 0;
  font-size: 26px;
  color: #555;
  cursor: pointer;
}
.calculate-container .calculate-closer:hover {
  color: #2766B5;
}
.calculate-container .annual-cost-container {
  max-width: 420px;
}
.calculate-container .annual-cost-container .control-label {
  padding-right: 0;
  text-align: left;
  width: 150px;
}
.calculate-container .table th {
  width: 110px !important;
  vertical-align: middle;
}
.calculate-container .table td {
  padding: 0;
  width: 110px !important;
}
.calculate-container .table td input[type="text"] {
  width: 110px !important;
  height: 100%;
  border: 0;
  padding: 0 3px;
  text-align: right;
}
.calculate-container .table td .patrol-vehicle-type {
  text-align: center !important;
}
.calculate-container #calculate-table {
  display: none;
}
.calculate-container #undoAlert {
  background: #7d96af;
  margin-top: 40px;
  display: none;
}
.calculate-container #undoAlert span {
  color: #fff;
}
.calculate-container #undoAlert .undo {
  color: antiquewhite;
}
.calculate-container #undoAlert .close {
  opacity: 1 !important;
}
.calculate-container #undoAlert .close span {
  text-shadow: none;
  color: #bcc9d6;
}
.calculate-container #undoAlert .close span:hover {
  color: #FFF;
}
