body {
  background: #5379a8 !important;
  padding: 0 !important;
}
.navbar-inverse {
  background: #ecf0f1 !important;
  padding: 10px;
  border: none !important;
  margin: 0 !important;
}
.navbar-inverse .navbar-toggle {
  background-color: #5379a8 !important;
  border-color: transparent !important;
}
.navbar-inverse .navbar-collapse {
  border-top: none;
}
.navbar-brand a {
  color: #16a085 !important;
  font-family: LaneNarrow;
  font-size: 1.3em;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  background: transparent !important;
  text-decoration: underline !important;
}
.navbar-brand:hover {
  background: none !important;
  border: none;
}
.navbar-inverse .navbar-nav > li {
  margin: 0;
  margin-left: 5px;
}
.navbar-inverse .navbar-nav > li > a {
  border-radius: 999px !important;
  padding: 15px 25px;
  color: #5379a8;
  transition: .5s;
  border: 1px solid transparent;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background: none !important;
  box-shadow: none;
  border-color: #5379a8;
  color: #5379a8;
}
.btn {
  transition: .5s;
}
.btn-primary {
  background-color: #5379a8 !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent) !important;
  border: none !important;
  box-shadow: none !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
  padding: 8px 20px !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active {
  background-color: #4b6d97 !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent) !important;
}
.btn-info {
  background-color: #97adc1 !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent) !important;
  border: none !important;
  box-shadow: none !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
  padding: 8px 20px !important;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #87a0b7 !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent) !important;
}
.btn-warning:hover,
.btn-danger:hover,
.btn-warning:focus,
.btn-danger:focus,
.btn-warning.active,
.btn-danger.active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent) !important;
}
.wat {
  display: inline-block;
  margin-top: 40px;
  color: #97adc1;
  border-bottom: 1px dotted;
}
.wat:hover,
.wat:focus {
  color: #5379a8;
  text-decoration: none;
}
@-webkit-keyframes rollout {
  0% {
    transform: translateZ(0px) rotateX(0deg);
  }
  50% {
    transform: translateZ(-25px) rotateX(90deg);
  }
  100% {
    transform: translateZ(0px) rotateX(0deg);
  }
}
.glyphicon glyphicon-play-circle {
  margin-top: 50px;
}
.secondary-icon-links {
  color: #5379a8 !important;
}
.fhwa-logo-wrapper {
  background-color: #5379a8 !important;
  box-shadow: none !important;
}
.jumbo-input {
  font-family: LaneNarrow;
}
.info-calculate {
  left: 117px;
}
.panel-success {
  border-color: #26A65B !important;
}
.panel-success .panel-heading {
  color: #fff;
  background: #2bbb66 !important;
}
.panel-danger {
  border-color: #96281B;
}
.panel-danger .panel-heading {
  color: #fff;
  background: #ac2e1f;
}
