/*

@author rothrob
@desc   Styles for the Segment Information Page
@date   09/18/2014

*/
#segmentTitle {
  display: inline;
}
.main-header {
  text-align: center;
}
.panel-info {
  border-color: #5379a8;
}
.panel-info > .panel-heading {
  background: #5379a8;
  color: #fff;
  border-color: #5379a8;
}
.segment-info-helper {
  margin-top: 6px;
  color: #555;
}
.segment-info-helper:hover {
  color: #555;
}
input[type="text"] {
  text-align: right;
}
.information-correct,
.information-wrong {
  font-size: 20px;
}
.panel-correct {
  border: solid 1px #1abc9c !important;
}
.panel-correct .panel-heading {
  background-color: #1abc9c;
  color: #fff;
}
.text-align-left {
  text-align: left !important;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
#segment_container {
  padding-bottom: 20px;
}
.panel {
  color: #555555 !important;
}
.panel .panel-heading h3 {
  font-size: 1.5em;
}
.panel label.control-label {
  padding: 0 !important;
}
.operation-time button {
  width: 33.3%;
}
.operation-time button.active {
  background-color: #5379a8 !important;
}
.operation-time button.active:focus,
.operation-time button.active:hover {
  background-color: #5379a8 !important;
  background-image: none !important;
}
.operation-time button:focus,
.operation-time button:hover {
  background-color: #5379a8 !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), transparent) !important;
}
.table-centered * {
  text-align: center;
}
.weather {
  min-width: 150px;
}
.percentage-wrapper {
  max-width: 80px;
}
#incident_information .am-peak-incident {
  padding-bottom: 0;
}
#incident_information .pm-peak-incident {
  padding-bottom: 0;
}
#incident_information .off-peak-incident {
  padding-bottom: 0;
}
.text-error {
  color: #a94442;
}
