

<div class="container clearfix">

  <div class="fhwa-brand">
    <div class="navigation">
      <a href="#">
        <span class="glyphicon glyphicon-hamburger"></span>
      </a>
    </div>
    <div class="logo"></div>
  </div>

  <div class="header">
    <h1 data-sr="move 16px scale up 20%, over 1s">Traffic Incident Management<br>Benefit-Cost Tool</h1>
    <h2 data-sr="move 16px scale up 20%, over 2s">Measure the mobility, safety and environmental<br>benefits of TIM programs</h2>
  </div>    

  <div class="apps">

    <div class="col-xs-12 col-md-3" data-sr="flip -360deg, over 2s">
      <div class="well">
        <!-- <p>SSP-BC-Tool</p> -->
        <h3 style="text-align: center">Safety Service Patrol</h3>
        <a href="./tools/ssp/index.html" class="btn btn-primary form-control launch">
          <span class="glyphicon glyphicon-play"></span>
          Launch
        </a>
        <!-- <a href="#" class="btn" style="color: white; background: rgba(255,255,255,.5)">
          <span class="glyphicon glyphicon-info-sign"></span>
          About
        </a> -->
      </div>
    </div>
    <div class="col-xs-12 col-md-3" data-sr="flip -360deg, over 2s, wait .2s">
      <div class="well">
        <!-- <p>SSP-BC-Tool</p> -->
        <h3 style="text-align: center">Driver Removal Laws</h3>
        <a href="./tools/drl/index.html" class="btn btn-primary form-control launch">
          <span class="glyphicon glyphicon-play"></span>
          Launch
        </a>
        <!-- <a href="#" class="btn" style="color: white; background: rgba(255,255,255,.5)">
          <span class="glyphicon glyphicon-info-sign"></span>
          About
        </a> -->
      </div>
    </div>
    <div class="col-xs-12 col-md-3" data-sr="flip -360deg, over 2s, wait .4s">
      <div class="well">
        <!-- <p>SSP-BC-Tool</p> -->
        <h3 style="text-align: center">Authority Removal Laws</h3>
        <a href="./tools/arl/index.html" class="btn btn-primary form-control launch">
          <span class="glyphicon glyphicon-play"></span>
          Launch
        </a>
        <!-- <a href="#" class="btn" style="color: white; background: rgba(255,255,255,.5)">
          <span class="glyphicon glyphicon-info-sign"></span>
          About
        </a> -->
      </div>
    </div>
    <div class="col-xs-12 col-md-3" data-sr="flip -360deg, over 2s, wait .8s">
      <div class="well">
        <!-- <p>SSP-BC-Tool</p> -->
        <h3 style="text-align: center">Shared Quick-Clearance Goals</h3>
        <a href="./tools/sqcg/index.html" class="btn btn-primary form-control launch">
          <span class="glyphicon glyphicon-play"></span>
          Launch
        </a>
        <!-- <a href="#" class="btn" style="color: white; background: rgba(255,255,255,.5)">
          <span class="glyphicon glyphicon-info-sign"></span>
          About
        </a> -->
      </div>
    </div>

    <div class="col-xs-12 col-md-3" data-sr="flip -360deg, over 2s, wait 1.6s">
      <div class="well">
        <!-- <p>SSP-BC-Tool</p> -->
        <h3 style="text-align: center">Pre-established Towing Service Agreements</h3>
        <a href="./tools/pets/index.html" class="btn btn-primary form-control launch">
          <span class="glyphicon glyphicon-play"></span>
          Launch
        </a>
        <!-- <a href="#" class="btn" style="color: white; background: rgba(255,255,255,.5)">
          <span class="glyphicon glyphicon-info-sign"></span>
          About
        </a> -->
      </div>
    </div>
    <div class="col-xs-12 col-md-3" data-sr="flip -360deg, over 2s, wait 1.4s">
      <div class="well">
        <!-- <p>SSP-BC-Tool</p> -->
        <h3 style="text-align: center">Dispatch Colocation</h3>
        <a href="./tools/dc/index.html" class="btn btn-primary form-control launch">
          <span class="glyphicon glyphicon-play"></span>
          Launch
        </a>
        <!-- <a href="#" class="btn" style="color: white; background: rgba(255,255,255,.5)">
          <span class="glyphicon glyphicon-info-sign"></span>
          About
        </a> -->
      </div>
    </div>
    <div class="col-xs-12 col-md-3" data-sr="flip -360deg, over 2s, wait 1.2s">
      <div class="well">
        <!-- <p>SSP-BC-Tool</p> -->
        <h3 style="text-align: center">TIM Task Forces</h3>
        <a href="./tools/tf/index.html" class="btn btn-primary form-control launch">
          <span class="glyphicon glyphicon-play"></span>
          Launch
        </a>
        <!-- <a href="#" class="btn" style="color: white; background: rgba(255,255,255,.5)">
          <span class="glyphicon glyphicon-info-sign"></span>
          About
        </a> -->
      </div>
    </div>
    <div class="col-xs-12 col-md-3" data-sr="flip -360deg, over 2s, wait 1s">
      <div class="well">
        <!-- <p>SSP-BC-Tool</p> -->
        <h3 style="text-align: center">SHRP2 Training</h3>
        <a href="./tools/shrp2/index.html" class="btn btn-primary form-control launch">
          <span class="glyphicon glyphicon-play"></span>
          Launch
        </a>
        <!-- <a href="#" class="btn" style="color: white; background: rgba(255,255,255,.5)">
          <span class="glyphicon glyphicon-info-sign"></span>
          About
        </a> -->
      </div>
    </div>

  </div>

</div>

  <!-- <div class="container dashboard clearfix">

    <div class="col-xs-12 module-block" data-scroll-reveal>

      <h1>FHWA Tools</h1>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3 dashboard-box">
          <div class="wrapper">
            <h2>SSP BC Tool</h2>
            <p>Description</p>
            <a href="./tools/ssp/index.html" class="link-button">
              Launch Tool
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 dashboard-box">
          <div class="wrapper" style="background: rgba(83,121,168, .8);">
            <h2>TIM Tool</h2>
            <p>Description</p>
            <a href="./tools/tim/index.html" class="link-button">
              Launch Tool
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 dashboard-box">
          <div class="wrapper" style="background: rgba(83,121,168, .6);">
            <h2>Pseudo Tool</h2>
            <p>Description</p>
            <a href="#" class="link-button">
              Launch Tool
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 dashboard-box">
          <div class="wrapper" style="background: rgba(83,121,168, .4);">
            <h2>Pseudo Tool</h2>
            <p>Description</p>
            <a href="#" class="link-button">
              Launch Tool
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3 dashboard-box">
          <div class="wrapper" style="background: rgba(83,121,168, .4);">
            <h2>Pseudo Tool</h2>
            <p>Description</p>
            <a href="#" class="link-button">
              Launch Tool
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 dashboard-box">
          <div class="wrapper" style="background: rgba(83,121,168, .6);">
            <h2>Pseudo Tool</h2>
            <p>Description</p>
            <a href="#" class="link-button">
              Launch Tool
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 dashboard-box">
          <div class="wrapper" style="background: rgba(83,121,168, .8);">
            <h2>Pseudo Tool</h2>
            <p>Description</p>
            <a href="#" class="link-button">
              Launch Tool
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 dashboard-box">
          <div class="wrapper" style="background: rgba(83,121,168, 1);">
            <h2>Pseudo Tool</h2>
            <p>Description</p>
            <a href="#" class="link-button">
              Launch Tool
            </a>
          </div>
        </div>
      </div>

    </div>

  </div> -->
