<p>This <strong>TIM Task Force (TIM-TF) Benefit-Cost Module</strong> was developed by FHWA to assist local, State, and Federal governments or agencies with assessing the total value of an TIM-TF program. TIM-TFs are groups of TIM-related planners, managers, and other personnel that meet periodically to coordinate activities and policies. TIM-TF programs are effective methods for managing traffic incidents to reduce traffic delays, wasted fuel, emissions, and the incidence of secondary crashes. This tool calculates program costs and benefits, in terms of monetized equivalents of the measures of effectiveness listed above, and provides an overall benefit/cost ratio of the program. The tool can be used to assess an expansion of an existing TIM-TF program, assess the value of creating a new TIM-TF program, or compare alternatives.</p>
<p>
<br>DFor more information about the TIM-BC tool, please visit the <a href="https://fhwa-ops.atlassian.net/wiki/spaces/TIMBC/overview" target="_blank">FHWA TIM-BC Confluence space.</a>
</p>

<!--<strong>Tool Requirements</strong>
<ul>
	<li>The tool does not require an Internet connection once the zip file is downloaded.</li>
	<li>The tool is run through an updated browser. The tool is optimized for use on the following versions of popular browsers (or a newer version).
		<ul>
			<li>Internet Explorer 10</li>
			<li>Google Chrome</li>
			<li>Mozilla Firefox</li>
			<li>Safari</li>
		</ul>
	</li>	
	<li>Javascript must be enabled in your browser to support the tool.</li>
	<li>The tool is not designed to be compatible with mobile devices or tablets.</li>
</ul>-->