

<div class="container-fluid main-container clearfix">

  <div class="header">

    <div class="fhwa-brand container clearfix" style="padding-bottom: 4%;">
      <div class="logo pull-left"></div>
      <div class="pull-right hidden-xs">
        <a href="#/about" class="about-trigger-icon" data-toggle="modal" data-target="#myModal"
          title="About TIM-BC Tool">
          <span class="glyphicon glyphicon-question-sign"></span>
        </a>
      </div>
    </div>

    <h1 data-sr="move 16px scale up 20%, over 1s">Traffic Incident Management<br>Benefit-Cost Tool</h1>
    <h2 data-sr="move 16px scale up 20%, over 2s">Measure economic values of the mobility, safety, and environmental impacts of TIM programs</h2>
    <p href="#" class="about-trigger" data-sr="move 16px scale up 20%, over 1s">
      <span class="hover-line-parent" style="width: auto; display: inline-block;">
          <a href="#" class="hover-line visible-xs" data-toggle="modal" data-target="#myModal" style="color: white">Learn more</a>
      </span>
    </p>
  </div>    

  <div class="apps">
    <div class="container">
      <!-- // -->
      <div class="col-xs-12 col-md-4" data-sr="scale up 10%, over 1s">
        <div class="well ssp-box">
          <span class="glyphicon glyphicon-play-circle pull-left"></span>
          <h3 style="text-align: center">Safety Service Patrol</h3>
          <a href="./tools/ssp/index.html" class="btn btn-primary form-control launch">
            <span class="glyphicon glyphicon-play"></span>
            Launch
          </a>
        </div>
      </div>
      <!-- /
      <div class="col-xs-12 col-md-3" data-sr="scale up 10%, over 1s, wait .1s">
        <div class="well drl-box">
          <span class="glyphicon glyphicon-road pull-left"></span>
          <h3 style="text-align: center">Driver Removal Laws</h3>
          <a href="./tools/drl/index.html" class="btn btn-primary form-control launch">
            <span class="glyphicon glyphicon-play"></span>
            Launch
          </a>
        </div>
      </div>/ -->
      <!-- /
      <div class="col-xs-12 col-md-3" data-sr="scale up 10%, over 1s, wait .2s">
        <div class="well arl-box">
          <span class="glyphicon glyphicon-edit pull-left"></span>
          <h3 style="text-align: center">Authority Removal Laws</h3>
          <a href="./tools/arl/index.html" class="btn btn-primary form-control launch">
            <span class="glyphicon glyphicon-play"></span>
            Launch
          </a>
        </div>
      </div>/ -->
      <!-- // -->
      <div class="col-xs-12 col-md-4" data-sr="scale up 10%, over 1s, wait .3s">
        <div class="well sqcg-box">
          <span class="glyphicon glyphicon-share pull-left"></span>
          <h3 style="text-align: center">Shared Quick-Clearance Goals</h3>
          <a href="./tools/sqcg/index.html" class="btn btn-primary form-control launch">
            <span class="glyphicon glyphicon-play"></span>
            Launch
          </a>
        </div>
      </div>
      <!-- // -->
      <div class="col-xs-12 col-md-4" data-sr="scale up 10%, over 1s, wait .7s">
        <div class="well ptsa-box">
          <span class="glyphicon glyphicon-file pull-left"></span>
          <h3 style="text-align: center">Pre-established Towing Service Agreements</h3>
          <a href="./tools/ptsa/index.html" class="btn btn-primary form-control launch">
            <span class="glyphicon glyphicon-play"></span>
            Launch
          </a>
        </div>
      </div>
      <!-- // -->
      <div class="col-xs-12 col-md-4" data-sr="scale up 10%, over 1s, wait .6s">
        <div class="well dc-box">
          <span class="glyphicon glyphicon-flash pull-left"></span>
          <h3 style="text-align: center">Dispatch Colocation</h3>
          <a href="./tools/dc/index.html" class="btn btn-primary form-control launch">
            <span class="glyphicon glyphicon-play"></span>
            Launch
          </a>
        </div>
      </div>
      <!-- // -->
      <div class="col-xs-12 col-md-4" data-sr="scale up 10%, over 1s, wait .5s">
        <div class="well tf-box">
          <span class="glyphicon glyphicon-alert pull-left"></span>
          <h3 style="text-align: center">TIM Task Forces</h3>
          <a href="./tools/tf/index.html" class="btn btn-primary form-control launch">
            <span class="glyphicon glyphicon-play"></span>
            Launch
          </a>
        </div>
      </div>
      <!-- // -->
      <div class="col-xs-12 col-md-4" data-sr="scale up 10%, over 1s, wait .4s">
        <div class="well ntrt-box">
          <span class="glyphicon glyphicon-dashboard pull-left"></span>
          <h3 style="text-align: center">National TIM Responder Training</h3>
          <a href="./tools/ntrt/index.html" class="btn btn-primary form-control launch">
            <span class="glyphicon glyphicon-play"></span>
            Launch
          </a>
        </div>
      </div>
      <!-- // -->
    </div>
  </div>

</div>
