	  	<div class="off-peak-incident">
					<div class="panel panel-default">
					  <div class="panel-heading"><strong>OFF Peak</strong></div>
					  <div class="panel-body">
					  	<table class="table table-centered">
					  		<thead>
					  			<tr>
					  				<th>Time</th>
					  				<th>Average Incident Duration (MIN)</th>
					  				<th>Estimated Number of Incidents Managed</th>
					  			</tr>
					  		</thead>
					  		<tbody>
					  			<tr>
					  				<td>Shoulder Blockage</td>
					  				<td><input type="text" class="form-control"></td>
					  				<td><input type="text" class="form-control"></td>
					  			</tr>
					  			<tr>
					  				<td>One Lane Blockage</td>
					  				<td><input type="text" class="form-control"></td>
					  				<td><input type="text" class="form-control"></td>
					  			</tr>
					  			<tr>
					  				<td>Two Lane Blockage</td>
					  				<td><input type="text" class="form-control"></td>
					  				<td><input type="text" class="form-control"></td>
					  			</tr>
					  		</tbody>
					  	</table>
					  </div>
					</div>
	  	</div>