<!-- SEGMENT INFORMATION PAGE -->
<div id="segment_container" class="clearfix container-fluid">
	<!-- PROJECT NAME -->
	<div class="col-xs-12">
		<h1 id="project_name" class="main-header"></h1>
	</div>
	<!--// PROJECT NAME -->
	<!-- LEFT PANEL -->
	<div class="col-lg-4" role="form">
		<!-- SEGMENT & REGION -->
		<div class="row">
			<div class="col-lg-12">
				<h3 id ="segmentTitle">Segment: </h3><a href="#" class="segment-info-helper" data-toggle="tooltip" data-placement="top" display="inline"
				title="Use the sidebar to duplicate selected segments, if needed.">
					  <span class=" glyphicon glyphicon-info-sign">
			</span>
				  </a>
				<div class="form-group">
					<select name="Segments" id="select_segments" class="form-control" tabindex="1"  name="segment" tabindex="1"></select>
				</div>
				<div class="form-group">
					<input type="text" name="Segment Name" id="segment_name" tabindex="1"  class="form-control text-align-left" value="{{ name }}" placeholder="Enter Segment Name" tabindex="1">
				</div>
				<div class="form-group margin-bot-0 text-align-left">
					<select name="Regions" id="regions_by_state" class="form-control" tabindex="1">
						<option value="">Select Region</option>
					</select>
				</div>
			</div>
		</div>
		<!--// SEGMENT & REGION -->
		<!-- // ROADWAY GEOMETRY PANEL -->
		<div id="roadway_geometry" class="main-panel panel panel-info margin-top-20">
			<!-- PANEL HEADING -->
		  <div class="panel-heading">
		    <span class="glyphicon glyphicon-ok-sign pull-right information-correct hidden"></span>
		    <span class="glyphicon glyphicon-remove-sign pull-right information-wrong hidden"></span>
		    <h3 class="panel-title">Roadway Geometry</h3>
		  </div>
			<!--// PANEL HEADING -->
			<!-- PANEL BODY -->
	  	<div class="panel-body">
				<!-- SEGMENT LENGTH IN MILES -->
				<div class="form-group clearfix">
					<!--<a href="#" class="segment-info-helper pull-right" data-toggle="tooltip" data-placement="top" tabindex="1" 
              title="Enter the total segment length in miles." tabindex="1">
						<span class="glyphicon glyphicon-info-sign"></span>
          </a>-->
					<label for="segment_length" class="control-label col-lg-6">SEGMENT LENGTH IN MILES:</label>
					<div class="col-lg-5 col-xs-11">
						<input type="text" name="Segment Length in Miles" id="segment_length" tabindex="1"  class="form-control" value="{{ segmentLength }}" tabindex="1"></input>
					</div>
				</div>
				<!--// SEGMENT LENGTH IN MILES -->
				<!-- NUMBER OF RAMPS -->
				<div class="form-group clearfix margin-top-20">
					<!--<a href="#" class="segment-info-helper pull-right" data-toggle="tooltip" data-placement="top"
              title="Enter the number of on- and off-ramps on the segment in a single direction." tabindex="1">
						<span class="glyphicon glyphicon-info-sign"></span>
          </a>-->
					<label for="number_of_ramps" class="control-label col-lg-6">NUMBER OF RAMPS IN THE TRAVEL DIRECTION:</label>
					<div class="col-lg-5 col-xs-11">
						<input type="text" name="Number of Ramps" id="number_of_ramps" tabindex="1"  class="form-control" value="{{ numberOfRamps }}" tabindex="1"></input>
					</div>
				</div>
				<!--// NUMBER OF RAMPS -->
				<!-- NUMBER OF TRAFFIC LANES BY DIRECTION -->
				<div class="form-group clearfix margin-top-20">
					<!--<a href="#" class="segment-info-helper pull-right" data-toggle="tooltip" data-placement="top"
              title="Enter the number of traffic lanes on the segment in a single direction." tabindex="1">
						<span class="glyphicon glyphicon-info-sign"></span>
          </a>-->
					<label for="num_of_traffic_lanes" class="control-label col-lg-6">NUMBER OF TRAFFIC LANES IN THE TRAVEL DIRECTION</label>
					<div class="col-lg-5 col-xs-11">
						<input type="text" name="Number of Traffic Lanes by Direction" id="num_of_traffic_lanes" tabindex="1" class="form-control" value="{{ numberOfTrafficLanesByDirection }}"></input>
					</div>
				</div>
				<!--// NUMBER OF TRAFFIC LANES BY DIRECTION -->
				<!-- GENERAL TERRAIN -->
				<div class="form-group clearfix margin-top-20">
				<!--Modified by Fang Zhou for updating speed reduction for General Terrain 09/21/2015-->
					<!--<a href="#" class="segment-info-helper pull-right" data-toggle="tooltip" data-placement="top"
              title="Choose the option that best describes the terrain of the segment.">
						<span class="glyphicon glyphicon-info-sign"></span>
          </a>
					<label for="general_terrain" class="control-label col-lg-5">GENERAL TERRAIN:<br>(use tooltip to 
 choose the appropriate type)</label>
					<div class="col-lg-6 col-xs-11">
						<select name="General Terrain" id="general_terrain" class="form-control">
							<option value="Flat">Flat - 0%</option>
							<option value="Level">Level - 2%</option>
							<option value="Rolling Hills">Rolling Hills - 5%</option>
							<option value="Mountainous">Mountainous - 10%</option>
						</select>-->
					<a href="#" class="segment-info-helper pull-right" data-toggle="tooltip" data-placement="top" tabindex="1" 
              title="Reduction of free-flow speed is applied by terrain type as follows: 
              Flat - 0 mph;
              Level - 2 mph;
              Rolling Hills - 5 mph;
              Mountainous - 10 mph." tabindex="1">
						<span class="glyphicon glyphicon-info-sign"></span>
          </a>
					<label for="general_terrain" class="control-label col-lg-5">GENERAL TERRAIN:<br>(use tooltip to 
 choose the appropriate type)</label>
					<div class="col-lg-6 col-xs-11">
						<select name="General Terrain" id="general_terrain" class="form-control" tabindex="1">
							<option value="Flat">Flat</option>
							<option value="Level">Level</option>
							<option value="Rolling Hills">Rolling Hills</option>
							<option value="Mountainous">Mountainous</option>
						</select>
				<!--Modified by Fang Zhou for updating speed reduction for General Terrain 09/21/2015-->
					</div>
				</div>
				<!--// GENERAL TERRAIN -->
				<!-- HORIZONTAL CURVATURE -->
				<div class="form-group clearfix margin-top-20">
				<!--Modified by Fang Zhou for updating speed reduction for Horizontal Curvature 09/21/2015-->
					<!--<a href="#" class="segment-info-helper pull-right" data-toggle="tooltip" data-placement="top"
              title="Choose the option that best describes the horizontal curvature of the segment.">-->
              		<a href="#" class="segment-info-helper pull-right" data-toggle="tooltip" data-placement="top"
              title="Reduction of free-flow speed is applied by horizontal curvature as follows: 
              Straight - 0 mph;
              Mild Curves - 5 mph;
              Sharp Curves - 10 mph." tabindex="1">
              <!--Modified end for updating speed reduction for Horizontal Curvature 09/21/2015-->
						<span class="glyphicon glyphicon-info-sign"></span>
          </a>
					<label for="horizontal_curvature" class="control-label col-lg-5">HORIZONTAL CURVATURE:<BR>(use tooltip to choose the appropriate type)</label>
					<div class="col-lg-6 col-xs-11">
						<select name="horizontal_curvature" id="horizontal_curvature" class="form-control" tabindex="1">
							<option value="Straight" value="0">Straight</option>
							<option value="Mild Curves" value="5">Mild Curves</option>
							<option value="Sharp Curves" value="10">Sharp Curves</option>
						</select>
					</div>
				</div>
				<!--// HORIZONTAL CURVATURE -->
	  	</div>
			<!--// PANEL BODY -->
	  </div>
	  <!-- // ROADWAY GEOMETRY -->
		<!-- CALCULATE RATIO BUTTON CONTAINER -->
		<div class="col-lg-12 margin-top-40" style="text-align:center">
			<a href="#" class="segment-info-helper" data-toggle="tooltip" data-placement="top" tabindex="2" title="Button will be activated once all necessary inputs have been entered.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>

			<a href="#/project/output" id="calculate-ratio-seg" tabindex="2" class="btn btn-primary calculate-ratio disabled" >
				<span class="glyphicon glyphicon-ok-sign"></span>
				Calculate Ratio
			</a>
			<button type="button" class="btn btn-info reset-segment-info" tabindex="2">
				<span class="glyphicon glyphicon-refresh"></span>
				Reset Information
			</button>
		</div>
		<!--// CALCULATE RATIO BUTTON CONTAINER -->
	</div>
	<!-- // LEFT PANEL -->
	<!-- // -->
	<!-- MIDDLE PANEL -->
	<div class="col-lg-4" role="form">
		<!-- SSP PROGRAM INFORMATION PANEL -->
		<div id="ssp_program_information" class="main-panel panel panel-info margin-top-20">
			<!-- PANEL HEADING -->
		  <div class="panel-heading clearfix">
		    <h3 class="panel-title pull-left">SSP Program Information</h3>
		    <span class="glyphicon glyphicon-ok-sign pull-right information-correct hidden"></span>
		  </div>
			<!--// PANEL HEADING -->
			<!-- PANEL BODY -->
		  <div class="panel-body">
		  	<!-- OPERATION TIME HEADING -->
				<p>
					<strong>OPERATION TIME:</strong>
					<!--<a href="#" class="segment-info-helper" data-toggle="tooltip" data-placement="top"
	              title="Select the time periods during which the SSP program operates." tabindex="1">
						<span class=" glyphicon glyphicon-info-sign">
	          </span>
					</a>-->
				</p>
		  	<!--// OPERATION TIME HEADING -->
				<!-- OPERATION TIME BODY -->
				<div class="form-group clearfix operation-panel">
					<!-- <div class="btn-group col-xs-12 operation-time">
						<button type="button" id="am_peak" class="btn btn-primary active" data-wrapper="am_peak" data-panel="am-peak">AM Peak</button>
						<button type="button" id="pm_peak" class="btn btn-primary" data-wrapper="pm_peak" data-panel="pm-peak">PM Peak</button>
						<button type="button" id="off_peak" class="btn btn-primary" data-wrapper="weekday" data-panel="off-peak">Weekday OFF Peak</button>
						<button type="button" id="off_peak" class="btn btn-primary" data-wrapper="weekend" data-panel="off-peak">Weekend</button>
					</div> -->
					<div class="checkbox">
					  <label>
					    <input type="checkbox"  tabindex="1"  class="operation-time" data-model="amPeak" data-wrapper="am_peak" data-panel="am-peak" {{ amPeakChecked }}>
					    AM Peak
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" tabindex="1"  class="operation-time" data-model="pmPeak" data-wrapper="pm_peak" data-panel="pm-peak" {{ pmPeakChecked }}>
					    PM Peak
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" tabindex="1"  class="operation-time" data-model="weekdayOffPeak" data-wrapper="off_peak" data-panel="off-peak" {{ weekdayOffPeakChecked }}>
					    Weekday Off Peak
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" tabindex="1"  class="operation-time" data-model="weekend" data-wrapper="weekend_peak" data-panel="weekend" {{ weekendChecked }}>
					    Weekend
					  </label>
					</div>
				</div>
				<!--// OPERATION TIME BODY -->
				<!-- <p><strong>Incident Duration:</strong></p> -->
				<p><strong>ESTIMATED INCIDENT DURATION SAVINGS:</strong></p>

				<div class="form-group">
					<!-- <p>CHOOSE HOW TO ENTER SAVINGS:</p> -->
					<p>
						Choose how to enter savings: 
						<a href="#" data-toggle="modal" data-target="#entSavings"><span class="glyphicon glyphicon-question-sign"></span></a>
						<!--<a href="#" class="segment-info-helper" data-toggle="tooltip" tabindex="1" data-placement="top"
		              title="Enter incident duration savings in minutes when SSP is used, either as an average or by lane blockage. The default value of SSP savings is 20 minutes.">
							<span class=" glyphicon glyphicon-info-sign">
		          </span>
						</a>-->
					</p>
					<div class="btn-group">
						<button type="button" id="avg_duration_btn" class="btn btn-primary active"  tabindex="1" >Average Duration</button>
						<button type="button" id="lane_blockage_btn" class="btn btn-primary"  tabindex="1" >By Lane Blockage</button>
					</div>
					<br>
					<span id="savings_error" class="text-danger"></span>
					<span id="savings_exceed_error" class="text-danger"></span>
				</div>

				<div id="avg_duration_container" class="form-group clearfix margin-top-20">
					<!-- <label for="avg_duration_savings" class="control-label col-lg-6">ENTER AVERAGE DURATION SAVINGS:</label> -->
					<label for="avg_duration_savings" class="control-label col-lg-6">ENTER AVERAGE DURATION SAVINGS: (Minutes)</label>
					<div class="col-lg-5">
						<input type="text" name="avg_duration_savings" id="avg_duration_savings" tabindex="1" class="form-control" value="{{ averageDurationSavings }}"></input>
					</div>
				</div>
				
				<!-- Lane Blockage -->
				<div id="lane_blockage_savings" class="hidden">

					<div class="form-group clearfix margin-top-20">
						<label for="shoulder" class="control-label col-lg-6">SHOULDER BLOCKAGE:</label>
						<div class="col-lg-5">
							<input type="text" name="shoulder" id="shoulder_savings" tabindex="1" class="form-control lane-savings" data-block="Shoulder" data-key="shoulderBlockageSavings" value="{{ shoulderBlockageSavings }}"></input>
						</div>
					</div>

					<div class="form-group clearfix margin-top-20">
						<label for="one_lane" class="control-label col-lg-6">ONE LANE BLOCKAGE:</label>
						<div class="col-lg-5">
							<input type="text" name="one_lane" id="one_lane_savings" tabindex="1" class="form-control lane-savings" data-block="OneLane" data-key="oneLaneBlockageSavings" value="{{ oneLaneBlockageSavings }}"></input>
						</div>
					</div>

				</div>
				<!-- // Lane Blockage -->
		  </div>
		  <!-- // Panel Body -->

		</div>
		<!--// SSP PROGRAM INFORMATION -->
		<!-- TRAFFICE INFORMATION PANEL -->
		<div id="traffic_information" class="main-panel panel panel-info margin-top-20">

		  <div class="panel-heading">
		    <span class="glyphicon glyphicon-ok-sign pull-right information-correct hidden"></span>
		    <span class="glyphicon glyphicon-remove-sign pull-right information-wrong hidden"></span>
		    <h3 class="panel-title">Traffic Information</h3>
		  </div>

	  	<div class="panel-body">

				<div class="form-group clearfix">
					<label for="mainlane_speed_limit" class="control-label col-lg-6">POSTED MAINLANE SPEED LIMIT (MPH):</label>
					<div class="col-lg-6">
						<input type="text" name="mainlane_speed_limit" tabindex="1" id="mainlane_speed_limit" class="form-control" value="{{ mainLaneSpeedLimit }}"></input>
					</div>
				</div>

				<div class="form-group clearfix margin-top-20">
					<table class="table table-centered blockage-severity">
						<thead>
							<tr>
								<th>Time</th>
								<th>
									Traffic Volume (VEH/H/Lane)
									<a href="#" class="segment-info-helper" tabindex="1" data-toggle="tooltip" data-placement="top"
				              title="Traffic Volume should range between 500 - 2200 veh/h/lane.">
										<span class="glyphicon glyphicon-info-sign"></span>
				          </a>
								</th>
								<th>Truck Percentage (0-25)</th>
							</tr>
						</thead>
						<tbody>
							<tr class="am-peak {{ amPeakVisibility }}">
								<td>AM PEAK</td>
								<td><input type="text" class="form-control traffic-volume" tabindex="1"  data-peak="amPeak" value="{{ amPeakTrafficVolume }}"></td>
								<td><input type="text" class="form-control truck-percentage"  tabindex="1" data-peak="amPeak" value="{{ amPeakTruckPercentage }}"></td>
							</tr>
							<tr class="pm-peak {{ pmPeakVisibility }}">
								<td>PM PEAK</td>
								<td><input type="text" class="form-control traffic-volume" tabindex="1"  data-peak="pmPeak" value="{{ pmPeakTrafficVolume }}"></td>
								<td><input type="text" class="form-control truck-percentage"  tabindex="1" data-peak="pmPeak" value="{{ pmPeakTruckPercentage }}"></td>
							</tr>
							<tr class="off-peak {{ weekdayOffPeakVisibility }}">
								<td>WEEKDAY OFF PEAK</td>
								<td><input type="text" class="form-control traffic-volume" tabindex="1" data-peak="weekdayOffPeak" value="{{ weekdayOffPeakTrafficVolume }}"></td>
								<td><input type="text" class="form-control truck-percentage"  tabindex="1" data-peak="weekdayOffPeak" value="{{ weekdayOffPeakTruckPercentage }}"></td>
							</tr>
							<tr class="weekend {{ weekendVisibility }}">
								<td>WEEKEND</td>
								<td><input type="text" class="form-control traffic-volume"  tabindex="1" data-peak="weekend" value="{{ weekendTrafficVolume }}"></td>
								<td><input type="text" class="form-control truck-percentage"  tabindex="1" data-peak="weekend" value="{{ weekendTruckPercentage }}"></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="panel panel-default">
				  <div class="panel-heading"><strong>Weather Information</strong> (ensure selections add up to 100%)</div>
				  <div class="panel-body">
				  	<p class="error-weather text-danger hidden">The total of all Weather Percentage must be equal to 100.</p>
				    <table class="table table-centered weather-information">     
				    	<thead>
				    		<tr>
				    			<th>WEATHER
				    			<!--Added by Fang Zhou for adding speed reduction for weather 09/21/2015-->
				    				<a href="#" class="segment-info-helper" data-toggle="tooltip" data-placement="top"
								              title="Reduction of free-flow speed is applied by weather type as follows:
								              Clear - 0%;
								              Light Rain - 5%;
								              Wind - 5%; 
								              Heavy Rain - 10%;
								              Light Snow - 10%;
								              Low Visibility - 10%;
								              Fog - 15%;
								              Heavy Snow - 35%;
								              Icy Conditions - 40%." tabindex="1" >
										<span class="glyphicon glyphicon-info-sign"></span>
									</a>
								<!--Added end for adding speed reduction for weather 09/21/2015-->        
				    			</th>
				    			<th>PERCENTAGE (0-100)</th>
				    		</tr>
				    	</thead>
				    	<tbody id="weatherInformation">
				    	<!-- FIRST WEATHER -->
						    <tr id="firstWeather" class="{{ firstWeatherState }}">
						      <td class="weather-wrapper">
						        <select name="Weather Information" class="form-control weather" value="{{ firstWeather }}" tabindex="1" >
						          <option value="Select Type">Select Type</option>
						          <option value="Clear">Clear</option>
						          <option value="Light Rain">Light Rain</option>
						          <option value="Heavy Rain">Heavy Rain</option>
          						<option value="Light Snow">Light Snow</option>
						          <option value="Heavy Snow">Heavy Snow</option>
						          <option value="Fog">Fog</option>
						          <option value="Icy Conditions">Icy Conditions</option>
						          <option value="Low Visibility">Low Visibility</option>
						          <option value="Wind">Wind</option>
						        </select>
						      </td>
						      <td class="weather-wrapper">
						        <input type="text" class="form-control percentage" value="{{ firstWeatherPrcnt }}" readonly tabindex="1" >
						      </td>
						    </tr>
						  <!-- // -->
				    	<!-- SECOND WEATHER -->
						    <tr id="secondWeather" class="{{ secondWeatherState }}">
						      <td class="weather-wrapper">
						        <select name="Weather Information" class="form-control weather" value="{{ secondWeather }}" tabindex="1" >
						          <option value="Select Type">Select Type</option>
						          <option value="Clear">Clear</option>
						          <option value="Light Rain">Light Rain</option>
						          <option value="Heavy Rain">Heavy Rain</option>
          						<option value="Light Snow">Light Snow</option>
						          <option value="Heavy Snow">Heavy Snow</option>
						          <option value="Fog">Fog</option>
						          <option value="Icy Conditions">Icy Conditions</option>
						          <option value="Low Visibility">Low Visibility</option>
						          <option value="Wind">Wind</option>
						        </select>
						      </td>
						      <td class="weather-wrapper">
						        <input type="text" class="form-control percentage" value="{{ secondWeatherPrcnt }}" readonly tabindex="1" >
						      </td>
						    </tr>
						  <!-- // -->
				    	<!-- THIRD WEATHER -->
						    <tr id="thirdWeather" class="{{ thirdWeatherState }}">
						      <td class="weather-wrapper">
						        <select name="Weather Information" class="form-control weather" value="{{ thirdWeather }}" tabindex="1" >
						          <option value="Select Type">Select Type</option>
						          <option value="Clear">Clear</option>
						          <option value="Light Rain">Light Rain</option>
						          <option value="Heavy Rain">Heavy Rain</option>
          						<option value="Light Snow">Light Snow</option>
						          <option value="Heavy Snow">Heavy Snow</option>
						          <option value="Fog">Fog</option>
						          <option value="Icy Conditions">Icy Conditions</option>
						          <option value="Low Visibility">Low Visibility</option>
						          <option value="Wind">Wind</option>
						        </select>
						      </td>
						      <td class="weather-wrapper">
						        <input type="text" class="form-control percentage" value="{{ thirdWeatherPrcnt }}" readonly tabindex="1" >
						      </td>
						    </tr>
						  <!-- //-->
				    	<!-- FOURTH WEATHER -->
						    <tr id="fourthWeather" class="{{ fourthWeatherState }}">
						      <td class="weather-wrapper">
						        <select name="Weather Information" class="form-control weather" value="{{ fourthWeather }}" tabindex="1" >
						          <option value="Select Type">Select Type</option>
						          <option value="Clear">Clear</option>
						          <option value="Light Rain">Light Rain</option>
						          <option value="Heavy Rain">Heavy Rain</option>
          						<option value="Light Snow">Light Snow</option>
						          <option value="Heavy Snow">Heavy Snow</option>
						          <option value="Fog">Fog</option>
						          <option value="Icy Conditions">Icy Conditions</option>
						          <option value="Low Visibility">Low Visibility</option>
						          <option value="Wind">Wind</option>
						        </select>
						      </td>
						      <td class="weather-wrapper">
						        <input type="text" class="form-control percentage" value="{{ fourthWeatherPrcnt }}" readonly tabindex="1" >
						      </td>
						    </tr>
						  <!-- //-->
				    	<!-- FIFTH WEATHER -->
						    <tr id="fifthWeather" class="{{ fifthWeatherState }}">
						      <td class="weather-wrapper">
						        <select name="Weather Information" class="form-control weather" value="{{ fifthWeather }}" tabindex="1" >
						          <option value="Select Type">Select Type</option>
						          <option value="Clear">Clear</option>
						          <option value="Light Rain">Light Rain</option>
						          <option value="Heavy Rain">Heavy Rain</option>
          						<option value="Light Snow">Light Snow</option>
						          <option value="Heavy Snow">Heavy Snow</option>
						          <option value="Fog">Fog</option>
						          <option value="Icy Conditions">Icy Conditions</option>
						          <option value="Low Visibility">Low Visibility</option>
						          <option value="Wind">Wind</option>
						        </select>
						      </td>
						      <td class="weather-wrapper">
						        <input type="text" class="form-control percentage" value="{{ fifthWeatherPrcnt }}" readonly tabindex="1" >
						      </td>
						    </tr>
						  <!-- //-->
				    	<!-- SIXTH WEATHER -->
						    <tr id="sixthWeather" class="{{ sixthWeatherState }}">
						      <td class="weather-wrapper">
						        <select name="Weather Information" class="form-control weather" value="{{ sixthWeather }}" tabindex="1" >
						          <option value="Select Type">Select Type</option>
						          <option value="Clear">Clear</option>
						          <option value="Light Rain">Light Rain</option>
						          <option value="Heavy Rain">Heavy Rain</option>
          						<option value="Light Snow">Light Snow</option>
						          <option value="Heavy Snow">Heavy Snow</option>
						          <option value="Fog">Fog</option>
						          <option value="Icy Conditions">Icy Conditions</option>
						          <option value="Low Visibility">Low Visibility</option>
						          <option value="Wind">Wind</option>
						        </select>
						      </td>
						      <td class="weather-wrapper">
						        <input type="text" class="form-control percentage" value="{{ sixthWeatherPrcnt }}" readonly tabindex="1" >
						      </td>
						    </tr>
						  <!-- //-->
				    	<!-- SEVENTH WEATHER -->
						    <tr id="seventhWeather" class="{{ seventhWeatherState }}">
						      <td class="weather-wrapper">
						        <select name="Weather Information" class="form-control weather" value="{{ seventhWeather }}" tabindex="1" >
						          <option value="Select Type">Select Type</option>
						          <option value="Clear">Clear</option>
						          <option value="Light Rain">Light Rain</option>
						          <option value="Heavy Rain">Heavy Rain</option>
          						<option value="Light Snow">Light Snow</option>
						          <option value="Heavy Snow">Heavy Snow</option>
						          <option value="Fog">Fog</option>
						          <option value="Icy Conditions">Icy Conditions</option>
						          <option value="Low Visibility">Low Visibility</option>
						          <option value="Wind">Wind</option>
						        </select>
						      </td>
						      <td class="weather-wrapper">
						        <input type="text" class="form-control percentage" value="{{ seventhWeatherPrcnt }}" readonly tabindex="1" >
						      </td>
						    </tr>
						  <!-- //-->
				    	</tbody>
				    </table>

						<button class="btn btn-primary add-weather-info"  tabindex="1" >
							<span class="glyphicon glyphicon-plus-sign"></span>
							Add Weather
						</button>

						<button class="btn btn-info undo-row hidden"  tabindex="1" >
							<span class="glyphicon glyphicon-remove-sign"></span>
							Remove Weather
						</button>

				  </div>

				</div>

			</div>
			<!-- .panel-body -->

  	</div>
  	<!-- // TRAFFIC INFORMATION -->

	</div>
	<!-- // MIDDLE PANEL END -->
	<!-- // -->
	<!-- LEFT PANEL -->
	<div class="col-lg-4">
		<!-- // INCIDENT INFORMATION PANEL -->
		<div id="incident_information" class="main-panel panel panel-info margin-top-20">

		  <div class="panel-heading">
		    <span class="glyphicon glyphicon-ok-sign pull-right information-correct hidden"></span>
		    <span class="glyphicon glyphicon-remove-sign pull-right information-wrong hidden"></span>
		    <h3 class="panel-title">Incident Information</h3>
		  </div>

		  <div class="panel-body">
		  	<p class="text-error managed-incidents-insufficient hidden">Note: Total Number of Managed Incident should be equal to the Number of Annual Incidents on Program Roadway.</p>
		  	
				<!-- AM PEAK INCIDENT -->
				<div id="am_peak_wrapper" class="">
			  	<div class="am-peak-incident peak-incident {{ amPeakVisibility }}">
							<div class="panel panel-default">
							  <div class="panel-heading"><strong>AM Peak</strong></div>
							  <div class="panel-body">
							  	<table class="table table-centered">
							  		<thead>
							  			<tr>
											  
							  				<th>Incident Blockage Severity</th>
							  				<th>
							  					Avg. Incident Duration (post-TIM, in minutes)
													<a href="#" class="segment-info-helper" data-toggle="tooltip" data-placement="top"  tabindex="1" 
								              title="Average incident duration post TIM implementation should not exceed 239 minutes.">
														<span class="glyphicon glyphicon-info-sign"></span>
								          </a>
							          </th>
									  <th>Number of Managed Incidents during Analysis Period ({{project.get('studyPeriodDuration')}} months) </th>
							  			</tr>
							  		</thead>
							  		<tbody>
							  			<tr class="peak-row shoulder">
							  				<td>Shoulder Blockage</td>
											  <td><input type="text" class="form-control avg-incident-duration"  data-peak="amPeak" tabindex="1" 	data-lane="Shoulder"	value="{{ amPeakShoulderBlockageAVGID }}"/></td>
											  <td><input type="text" class="form-control num-of-managed-incidents" data-peak="amPeak" tabindex="1" 	data-lane="Shoulder"	value="{{ amPeakShoulderBlockageManIndt }}"/></td>
							  			</tr>
							  			<tr class="peak-row first-lane">
							  				<td>One Lane Blockage</td>
											  <td><input type="text" class="form-control avg-incident-duration"  data-peak="amPeak"	 tabindex="1" data-lane="OneLane"	value="{{ amPeakOneLaneBlockageAVGID }}"></td>
											  <td><input type="text" class="form-control num-of-managed-incidents" data-peak="amPeak" tabindex="1" 	data-lane="OneLane"	value="{{ amPeakOneLaneBlockageManIndt }}"></td>
							  			</tr>
							  		</tbody>
							  	</table>
							  </div>
							</div>
			  	</div>
		  	</div>
				<!-- PM PEAK INCIDENT -->
				<div id="pm_peak_wrapper" class="">
					<div class="pm-peak-incident peak-incident {{ pmPeakVisibility }}">
						<div class="panel panel-default">
						  <div class="panel-heading"><strong>PM Peak</strong></div>
						  <div class="panel-body">
						  	<table class="table table-centered">
						  		<thead>
						  			<tr>
						  				<th>Incident Blockage Severity</th>
							  				<th>
							  					Avg. Incident Duration (post-TIM, in minutes)
													<a href="#" class="segment-info-helper" data-toggle="tooltip" data-placement="top"  tabindex="1" 
								              title="Average incident duration post TIM implementation should not exceed 239 minutes.">
														<span class="glyphicon glyphicon-info-sign"></span>
								          </a>
							          </th>
									  <th>Number of Managed Incidents</th>
						  			</tr>
						  		</thead>
						  		<tbody>
						  			<tr class="peak-row">
						  				<td>Shoulder Blockage</td>
						  				<td><input type="text" class="form-control" data-peak="pmPeak"	data-lane="Shoulder" tabindex="1" 	value="{{ pmPeakShoulderBlockageAVGID }}" tabindex="1"></td>
										  <td><input type="text" class="form-control" data-peak="pmPeak"	data-lane="Shoulder" tabindex="1" 	value="{{ pmPeakShoulderBlockageManIndt }}"></td>
						  			</tr>
						  			<tr class="peak-row">
						  				<td>One Lane Blockage</td>
						  				<td><input type="text" class="form-control" data-peak="pmPeak"	data-lane="OneLane" tabindex="1"  	value="{{ pmPeakOneLaneBlockageAVGID }}"></td>
										  <td><input type="text" class="form-control" data-peak="pmPeak"	data-lane="OneLane" tabindex="1" 	value="{{ pmPeakOneLaneBlockageManIndt }}"></td>
						  			</tr>
						  		</tbody>
						  	</table>
						  </div>
						</div>
		  	</div>
	  	</div>
			<!-- OFF PEAK INCIDENT -->
			<div id="off_peak_wrapper" class="">
			  	<div class="off-peak-incident peak-incident {{ weekdayOffPeakVisibility }}">
						<div class="panel panel-default">
						  <div class="panel-heading"><strong>Weekday Off Peak</strong></div>
						  <div class="panel-body">
						  	<table class="table table-centered">
						  		<thead>
						  			<tr>
						  				<th>Incident Blockage Severity</th>
							  				<th>
							  					Avg. Incident Duration (post-TIM, in minutes)
													<a href="#" class="segment-info-helper" data-toggle="tooltip" data-placement="top"  tabindex="1" 
								              title="Average incident duration post TIM implementation should not exceed 239 minutes.">
														<span class="glyphicon glyphicon-info-sign"></span>
								          </a>
							          </th>
									  <th>Number of Managed Incidents</th>
						  			</tr>
						  		</thead>
						  		<tbody>
						  			<tr class="peak-row">
						  				<td>Shoulder Blockage</td>
						  				<td><input type="text" class="form-control" data-peak="weekdayOffPeak" tabindex="1" 	data-lane="Shoulder" value="{{ weekdayOffPeakShoulderBlockageAVGID }}"></td>
										  <td><input type="text" class="form-control" data-peak="weekdayOffPeak" tabindex="1" 	data-lane="Shoulder" value="{{ weekdayOffPeakShoulderBlockageManIndt }}"></td>
						  			</tr>
						  			<tr class="peak-row">
						  				<td>One Lane Blockage</td>
										  <td><input type="text" class="form-control" data-peak="weekdayOffPeak" tabindex="1" 	data-lane="OneLane" value="{{ weekdayOffPeakOneLaneBlockageAVGID }}"></td>
										  <td><input type="text" class="form-control" data-peak="weekdayOffPeak" tabindex="1" 	data-lane="OneLane" value="{{ weekdayOffPeakOneLaneBlockageManIndt }}"></td>
						  			</tr>
						  		</tbody>
						  	</table>
						  </div>
						</div>
		  	</div>
			</div>
			<!-- // -->
			<!-- WEEKEND INCIDENT -->
			<div id="weekend_wrapper" class="">
		  	<div class="weekend-incident peak-incident {{ weekendVisibility }}">
					<div class="panel panel-default">
					  <div class="panel-heading"><strong>Weekend Peak</strong></div>
					  <div class="panel-body">
					  	<table class="table table-centered">
					  		<thead>
					  			<tr>
					  				<th>Incident Blockage Severity</th>
							  				<th>
							  					Avg. Incident Duration (post-TIM, in minutes)
													<a href="#" class="segment-info-helper" data-toggle="tooltip" data-placement="top"  tabindex="1" 
								              title="Average incident duration post TIM implementation should not exceed 239 minutes.">
														<span class="glyphicon glyphicon-info-sign"></span>
								          </a>
							          </th>
									  <th>Number of Managed Incidents</th>
					  			</tr>
					  		</thead>
					  		<tbody>
					  			<tr class="peak-row">
					  				<td>Shoulder Blockage</td>
					  				<td><input type="text" class="form-control" data-peak="weekend"	data-lane="Shoulder"  tabindex="1" value="{{ weekendShoulderBlockageAVGID }}"></td>
									  <td><input type="text" class="form-control" data-peak="weekend"	data-lane="Shoulder"  tabindex="1" value="{{ weekendShoulderBlockageManIndt }}"></td>
					  			</tr>
					  			<tr class="peak-row">
					  				<td>One Lane Blockage</td>
					  				<td><input type="text" class="form-control" data-peak="weekend"	data-lane="OneLane"  tabindex="1" value="{{ weekendOneLaneBlockageAVGID }}"></td>
									  <td><input type="text" class="form-control" data-peak="weekend"	data-lane="OneLane"  tabindex="1" value="{{ weekendOneLaneBlockageManIndt }}"></td>
					  			</tr>
					  		</tbody>
					  	</table>
					  </div>
					</div>
		  	</div>
			</div>
			<!-- // -->
			<div class="form-group clearfix">
				<div class="col-xs-7">
					ESTIMATED PERCENTAGE OF SECONDARY INCIDENTS (enter as 0-100):
				</div>
				<div class="col-xs-5">
					<input type="text" class="form-control" id="secondary_incidents_percentage" tabindex="1" 	 value="{{ secondaryIncidentsPercentage }}">
				</div>
			</div>

		</div>
	  <!-- // INCIDENT INFORMATION PANEL END -->
	</div>
	<!-- // RIGHT PANEL -->
</div>
<!--// SEGMENT INFORMATION PAGE -->
	<!-- Enter Savings Modal -->
<div class="modal fade" data-backdrop="false" id="entSavings" tabindex="-1" role="dialog" aria-labelledby="Choose how to enter savings" aria-hidden="true">
	<div class="modal-dialog" style="margin-top: 14%;">
	  <div class="modal-content">
		<div class="modal-header">
		  <!-- <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
		  <h4 class="modal-title" id="entSavingsTitle"><strong>How to Enter Savings</strong></h4>
		</div>
		<div class="modal-body">
		  <p>Enter the estimated incident duration savings as a result of the TIM program, either as an average across all incidents or by lane blockage severities.   For more information about typical values to use, please visit the <a href="https://fhwa-ops.atlassian.net/wiki/spaces/TIMBC/pages/2719758/Incident+Duration+Savings+Values" target="_blank">Incident Duration Savings Values</a> page on the TIM-BC Confluence.</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-primary" data-dismiss="modal">
			<span class="glyphicon glyphicon-remove"></span>
			Close Window
		  </button>
		</div>
	  </div>
	</div>
  </div>
<!-- Enter Savings Modal -->
