<!-- Sidebar Partial
@author Robert Roth -->
<a href="#" class="sidebar-closer pull-right"><span class="glyphicon glyphicon-remove"></span></a>

<ul class="nav nav-pills nav-stacked sidebar-navigation">
	<li><h3>Project:</h3></li>
  <li class="home-page active"><a href="#/">Home</a></li>
  <li class="project-name-page"><a href="#/project/rename">Project Name</a></li>
  <li class="project-details-page disabled"><a href="#/project/details">Project Details</a></li>
  <li class="project-segments-page disabled"><a href="#/project/segment/1">Segment Information</a></li>
  <li class="project-output-page disabled"><a href="#/project/output" id="projectOutput">Project Output</a></li>
  <br>
  <li>
    <h3>Segments:</h3>
      <div id="segments_container"></div>
  </li>

</ul>