		<!-- SEGMENT DETAILS -->
		<div class="row">
			<div class="col-lg-12">
				<h3>Segment:</h3>
				<div class="form-group">
					<select id="select_segments" class="form-control" name="segment" tabindex="1" ></select>
				</div>
				<div class="form-group">
					<input type="text" id="segment_name" class="form-control text-align-left" tabindex="1"  value="" placeholder="Enter Segment Name">
				</div>
				<div class="form-group margin-bot-0 text-align-left">
					<select class="form-control" tabindex="1" >
						<option value="">Select Region</option>
					</select>
				</div>
			</div>
			<!-- .col-lg-12 -->
		</div>
		<!--// SEGMENT DETAILS -->
		<!-- // ROADWAY GEOMETRY PANEL -->
		<div id="roadway_geometry" class="panel panel-info margin-top-20">
			<!-- PANEL HEADING -->
		  <div class="panel-heading">
		    <h3 class="panel-title">Roadway Geometry</h3>
		  </div>
			<!--// PANEL HEADING -->
			<!-- PANEL BODY -->
	  	<div class="panel-body">
				<!-- SEGMENT LENGTH IN MILES -->
				<div class="form-group clearfix margin-top-20">
					<span class="segment-info-helper pull-right glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top"
              title="Tooltip"></span>
					<label for="segment_length" class="control-label col-lg-6">SEGMENT LENGTH IN MILES:</label>
					<div class="col-lg-5 col-xs-11">
						<input type="text" name="segment_length" id="segment_length" tabindex="1"  class="form-control"></input>
					</div>
				</div>
				<!--// SEGMENT LENGTH IN MILES -->
				<!-- NUMBER OF TRAFFIC LANES IN THE TRAVEL DIRECTION -->
				<div class="form-group clearfix margin-top-20">
					<span class="segment-info-helper pull-right glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top"
              title="Tooltip"></span>
					<label for="num_of_traffic_lanes" class="control-label col-lg-6">NUMBER OF TRAFFIC LANES IN THE TRAVEL DIRECTION:</label>
					<div class="col-lg-5 col-xs-11">
						<input type="text" name="num_of_traffic_lanes"  tabindex="1" id="num_of_traffic_lanes" class="form-control"></input>
					</div>
				</div>
				<!--// NUMBER OF TRAFFIC LANES IN THE TRAVEL DIRECTION -->
				<!-- GENERAL TERRAIN -->
				<div class="form-group clearfix margin-top-20">
					<span class="segment-info-helper pull-right glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top"
              title="Tooltip"></span>
					<label for="general_terrain" class="control-label col-lg-5">GENERAL TERRAIN:</label>
					<div class="col-lg-6 col-xs-11">
						<select name="general_terrain" id="general_terrain" tabindex="1"  class="form-control">
							<option value="Flat">Flat</option>
							<option value="Rolling Hills">Rolling Hills</option>
							<option value="Mountainous">Mountainous</option>
						</select>
					</div>
				</div>
				<!--// GENERAL TERRAIN -->
				<!-- HORIZONTAL CURVATURE -->
				<div class="form-group clearfix margin-top-20">
					<span class="segment-info-helper pull-right glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top"
              title="Tooltip"></span>
					<label for="horizontal_curvature" class="control-label col-lg-5">HORIZONTAL CURVATURE:</label>
					<div class="col-lg-6 col-xs-11">
						<select name="horizontal_curvature" tabindex="1"  id="horizontal_curvature" class="form-control">
							<option value="Straight">Straight</option>
							<option value="Mild Curves">Mild Curves</option>
							<option value="Sharp Curves">Sharp Curves</option>
						</select>
					</div>
				</div>
				<!--// HORIZONTAL CURVATURE -->
	  	</div>
			<!--// PANEL BODY -->
	  </div>
	  <!-- // ROADWAY GEOMETRY -->

		<div class="col-lg-12 margin-top-20" style="text-align:center">
			<a href="#/project/output" id="calculate-ratio-seg" class="btn btn-primary calculate-ratio">
				<span class="glyphicon glyphicon-ok-sign"></span>
				Calculate Ratio
			</a>
			<button type="button" class="btn btn-info reset-segment-info">
				<span class="glyphicon glyphicon-refresh"></span>
				Reset Information
			</button>
		</div>